<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--====================================== configSections ============================================-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--========================================= log4net =========================================-->

  <log4net>
    <!--========================================= appender =========================================-->
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
      <sink value="udp://LOG COLLECTOR IP" />
      <lossy value="false" />
      <bufferSize value="95" />
      <onlyFixPartialEventData value="true" />
      <encoding value="utf-8" />
    </appender>
    
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <layout type="log4net.Layout.PatternLayout" value="%message"/>
      <localPort value="8080" />
      <remoteAddress value="LOG COLLECTOR IP" />
      <remotePort value="514" />
      <encoding value="utf-8" />
    </appender>

    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <layout type="log4net.Layout.PatternLayout" value="%message"/>
      <remoteAddress value="LOG COLLECTOR IP" />
      <filter type="log4net.Filter.LevelRangeFilter"> <levelMin value="ALL" /> </filter>
      <encoding value="utf-8" />
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="RemoteSyslogAppender" />
    </root>
    
  </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>